body {
    background-color: powderblue;
}

h1 {
    color: blue;
    font-size: 18px;
    text-align: center
}

p {
    font-size: 14px;
    color: black
}

.headerp {
    text-align: center
}

.bodytag {
    padding: 16px;
    background-color: powderblue;
    margin: 16px
}

a {
    font-size: 13px
}

/* unvisited link */
a:link {
    color: blue;
}
  
  /* visited link */
a:visited {
    color: blue;
}
  
  /* mouse over link */
 a:hover {
    color: red;
}
  
  /* selected link */
a:active {
    color: blue;
}

* {
    font-family: "Times New Roman", Times, serif;
}