body {
    background-color: #f0f4f3;
}

h1 {
    color: blue;
    font-size: 3em
}

p {
    color: black;
}


/* unvisited link */

a:link {
    color: blue;
}


/* visited link */

a:visited {
    color: blue;
}


/* mouse over link */

a:hover {
    color: red;
}


/* selected link */

a:active {
    color: blue;
}

.link {
    font-size: large;
    padding: 6px;
}

* {
    font-family: 'Times New Roman', Times, serif
}

.header-image {
    position: relative;
    background-image: url("https://raw.githubusercontent.com/slavril/slavril.github.io/master/images/flower.jpg");
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerclass {
    text-align: center
}

.full-width {
    width: 1024px;
}

.body {
    margin: auto;
}

.green-border {
    border: 3px solid blue;
}

.section {
    margin: auto;
    width: 80%;
    padding-top: 16px;
}

.footer {
    margin: auto;
    width: fit-content;
    padding-top: 16px;
    padding-bottom: 16px;
}

.action-link {
    margin: auto;
    width: fit-content;
    background-color: lavenderblush;
    align-items: center;
    justify-content: center;
}

.section-title {
    text-align: center;
    background-color: blue;
    color: lightgoldenrodyellow;
    font-size: larger;
    font-weight: bold;
}

.content {
    font-size: medium;
}

.content-body {
    background-color: #ffffff;
}

.frame {
    border-top: 6px solid #939393;
    border-left: 6px solid #939393;
    border-right: 6px solid #707070;
    border-bottom: 6px solid #707070;
}

.gallery-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 640px;
    align-self: center;
}

.margin {
    margin: 16px;
}

.desc {
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}